language: node_js
node_js:
    - node
sudo: required
services:
    - docker
install:
    - docker run -dit --name emscripten -v $(pwd):/src trzeci/emscripten:sdk-incoming-64bit bash
    - npm install
script:
    - docker exec -it emscripten make
    - npm test
